In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("minor.csv")

In [3]:
df.head()

,Time,PC,TV,Water Pump,Vacuum Cleaner,Iron Box,Dryer,Coffee Maker,Range Top (S),Range Top (L),...,Oven Cleaner,Washing Machine,Dish Washer,Oven,PHEV,AC,Fridge,Light,Fan,Units Consumed (kWh)
0,00:15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1.11
1,00:30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1.11
2,00:45,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1.11
3,01:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1.11
4,01:15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1.11

In [4]:
# Power ratings in kW
power_ratings = {
    "PC":0.1,
    "TV":0.15,
    "Water Pump": 0.75,
    "Vacuum Cleaner":0.74,
    "Iron Box": 1.1,
    "Dryer":5.5,
    "Coffee Maker": 0.35,
    "Range Top (S)": 1.6,
    "Range Top (L)": 2.7,
    "Microwave Oven": 0.8,
    "Toaster": 1.1,
    "Toaster Oven":1.5,
    "Oven Cleaner": 3.5,
    "Washing Machine": 0.665,
    "Dish Washer": 1.2,
    "Oven": 3.5,
    "PHEV": 3.3,
    "AC": 1,
    "Fridge": 0.145,
    "Light": 0.16,
    "Fan": 0.06
}

In [5]:
# This function finds the number of units consumed in a 15 minutes slot
# All appliances which were ON during the slot, are marked by 1, else 0.
# he "units_of_this_row" variable is a multiple of 0.25 to denote (15 min / 60 min) hour

def find_power_units_consumed(df, power_ratings):
    units = []
    for i in df.index:
        units_of_this_row = 0
        for j in df.columns[1:]:
            if df[j][i] == 1:
                units_of_this_row += 0.25*power_ratings[j]
        units.append(units_of_this_row)
        
    return units

In [6]:
units = find_power_units_consumed(df, power_ratings)

In [7]:
units = [round(units[i], 2) for i in range(len(units))]

In [8]:
Units = pd.DataFrame(
{
    "Units_Consumed":units
})

In [9]:
Units

    Units_Consumed
0             1.11
1             1.11
2             1.11
3             1.11
4             1.11
..             ...
91            1.73
92            1.73
93            1.73
94            1.73
95            1.73

[96 rows x 1 columns]

In [10]:
Units.to_csv("units_consumed.csv", index = False)